<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <record id="action_cash_flow_custom" model="ir.actions.client">
            <field name="name">Cash Flow Custom</field>
            <field name="tag">cf_custom</field>
        </record>
        <menuitem id="menu_fixed_asset"  action="action_cash_flow_custom"
          name="Cash Flow Custom" parent="dynamic_accounts_report.dynamic_report_accounting"/>
    </data>
</odoo>