<odoo>
    <data>

    	<!-- HIDE MENU -->
    	<record model="ir.ui.menu" id="sale.menu_sale_order">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="sale.report_sales_team">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="sale.res_partner_menu">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <!-- END HIDE MENU -->


        <record model="ir.ui.menu" id="sale.menu_sale_order_upselling">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>

        <!-- HIDE MENU RFQ -->
        <record model="ir.ui.menu" id="purchase.menu_purchase_rfq">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>

    </data>
</odoo>