<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>

        <menuitem name="QA/QC"
            id="menu_qc_root"
            sequence="40"
            web_icon="qa_qc,static/description/icon.png"/>
            
        <menuitem name="Configuration"
            id="menu_qc_configuration"
            parent="menu_qc_root"
            sequence="40"/>
            
        <!-- <menuitem name="Report"
            id="menu_qc_report"
            parent="menu_qc_root"
            sequence="40"/> -->
    
    </data>
    

</odoo>
