<odoo>
    <data>


        <!-- RnD -->
        <menuitem id="design_process_menu"
            name = "Research &#38; Development"
            web_icon="design_process,static/description/icon.png"
            sequence="10"/>

        <menuitem id="design_process_sub_menu"
            parent = 'design_process_menu'
            name="Overviews"
            sequence="1"/>

        <menuitem id="research_process_sub_menu_design"
            parent = 'design_process_sub_menu'
            name="Spec. Design"
            action="design_process.action_design_process_design"
            sequence="1"/>
            
        <menuitem id="research_menu_sample"
            parent = 'design_process_sub_menu'
            name="Sample Request"
            action="design_process.action_sample_request"
            sequence="2"/>
<!-- 
        <menuitem id="research_process_sub_menu_sample"
            parent = 'design_process_sub_menu'
            name="Sample Request"
            action="design_process.action_design_process_sample"
            sequence="2"/> -->

            <menuitem id="summary_costing_sub_menu"
            parent = 'design_process_sub_menu'
            name="Costing"
            action="design_process.summary_costing_action"
            sequence="3"/>
        


        <menuitem id="manufacture_order_sub_menu"
                    parent = 'design_process_sub_menu' name="Manufacture Sample" action="rnd_mrp_production_action" sequence="3"/>


        <!-- RnD -->
        <menuitem id="design_config_sub_menu"
            parent = 'design_process_menu'
            name="Configuration"
            sequence="1"/>

         <menuitem id="config_stage_sub_menu"
            parent = 'design_config_sub_menu'
            name="Stage"
            action="design_process.action_stage_config"
            sequence="1"/>


        <menuitem id="config_team_rnd_menu"
            parent = 'design_config_sub_menu'
            name="Teams RnD"
            action="design_process.action_rnd_teams"
            sequence="2"/>
        
        <menuitem id="config_proportion_menu"
            parent = 'design_config_sub_menu'
            name="Proportion"
            action="design_process.res_load_action"
            sequence="3"/>


        <!-- Sale Order -->

        <menuitem id="sale.menu_sale_quotations"
            action="design_process.action_quotations_with_onboarding_inherit"
            parent="sale.sale_order_menu"
            name="Contract Review"
            sequence="2" 
            groups="sales_team.group_sale_salesman"/>


        <!-- <menuitem id="sale_order_line_mo" 
            name="Manufacturing Order" 
            action="action_orders_lines_mo" 
            parent="sale.sale_order_menu" 
            sequence="2"/>

        <menuitem id="sale_order_line_sc" 
            name="Sale Confirmation" 
            action="action_orders_lines_sc" 
            parent="sale.sale_order_menu" 
            sequence="2"/> -->

        <menuitem id="sale_order_line_mo" 
            name="Manufacturing Order" 
            action="action_orders_lines_mo" 
            parent="sale.menu_sale_report" 
            sequence="2"/>

        <menuitem id="sale_order_line_sc" 
            name="Sale Confirmation" 
            action="action_orders_lines_sc" 
            parent="sale.menu_sale_report" 
            sequence="2"/>


        <!-- Inventory Product -->

        <!-- <menuitem id="menu_product_kubikasi" 
            name="Product Kubikasi" 
            action="action_prod_kubikasi"
            parent="stock.menu_stock_inventory_control"
            sequence="4"/> -->


    </data>
</odoo>