<odoo>
    <data>

        <menuitem
            id="menu_maintenance_bagian_configuration"
            name="Maintenance bagian"
            parent="maintenance.menu_maintenance_configuration"
            action="maintenance_bagian_action"
            sequence="4"/>
        <menuitem
            id="menu_m_timetable_form"
            name="Maintenance Timetables"
            parent="maintenance.menu_m_request"
            action="maintenance_timetable_action"
            groups="maintenance.group_equipment_manager,base.group_user"/>

        <menuitem
            id="maintenance.menu_equipment_form"
            name="Equipments"
            parent="maintenance.menu_maintenance_title"
            groups="maintenance.group_equipment_manager,base.group_user"
            sequence="2"/>
        <menuitem
            id="menu_equipment_dashboard"
            name="Machines &amp; Tools"
            parent="maintenance.menu_equipment_form"
            action="maintenance.hr_equipment_action"
            sequence="2"/>

        <menuitem
            id="menu_m_daily_form"
            name="Maintenance Dailys"
            parent="maintenance.menu_m_request"
            action="maintenance_daily_action"
            groups="maintenance.group_equipment_manager,base.group_user"/>
        
    </data>
</odoo>